# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij configs directory
.idea

# Ignore out folder
out/

# Ignore local images
src/main/resources/static/images
src/main/resources/static

# application properties
src/main/resources/application.properties