<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <title>Reset Password</title> </head>
<body>
    <h2>Enter new password:</h2>
    <form action="#" th:action="@{/reset}" method="post">
        <table>
            <tr>
                <td><label for="password" th:for="password">Password: </label></td>
                <td><input id="password" type="password" name="password"/></td>
                <td><input th:type="hidden" th:value="${token}" name="token"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>